.toDoList
  background: #4361ee
  margin: 20px 10px
  padding: 20px
  display: flex
  flex-direction: column
  border-radius: 16px
  min-width: 70vw

.toDoListInfo
  display: flex
  flex-direction: column

